<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container1">
    <a href="../views/historia.php">
        <div class="card">
            <img src="../img/history.png" alt="Alumbrado Público">
            <h3>Historia</h3>
            <p>Conoce un poco de la historia de nuestra instirución.</p>
        </div>
    </a>

    <a href="../views/quienessomos.php">
        <div class="card">
            <img src="../img/somos.png" alt="Huecos y Baches">
            <h3>Quienes Somos</h3>
            <p>Reporta huecos y baches en la vía pública.</p>
        </div>
    </a>

    <a href="../views/docente.php">
        <div class="card">
            <img src="../img/docentes.png" alt="Puntos Críticos de Basuras">
            <h3>Equipo docente</h3>
            <p>Reporta acumulación de basuras en la vía pública.</p>
        </div>
    </a>

    <a href="../views/talleres.php">
        <div class="card">
            <img src="../img/taller.png" alt="Puntos Críticos de Basuras">
            <h3>Talleres</h3>
            <p>Reporta acumulación de basuras en la vía pública.</p>
        </div>
    </a>
</div>
</body>