<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Centro Educativo Colombo Latino</title>
<link rel="stylesheet" href="../components/menu/main.css">
</head>
<body>

<!-- Barra de Navegación -->
<nav class="navbar">
    <div class="logo-container">
        <a href="../index.php"><img src="../components/menu/logo.png" alt="Logo" class="logo"></a>
    </div>
    <h1 class="navbar-title">CENTRO EDUCATIVO COLOMBO LATINO</h1>
    <div class="navbar-buttons">
        <a href="../views/contact.php"><button class="btn" id="contact-btn">Contáctanos</button></a>
        <!--<div class="dropdown">
            <a href="./views/login.php"><button class="btn">Iniciar Sesión</button></a>
        </div>-->
    </div>
</nav>
</body>
</html>
