<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Centro Educativo Colombo Latino</title>
<link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Barra de Navegación -->
<nav class="navbar">
    <div class="logo-container">
        <a href=""><img src="logo.png" alt="Logo" class="logo"></a>
    </div>
    <h1 class="navbar-title">CENTRO EDUCATIVO COLOMBO LATINO</h1>
    <div class="navbar-buttons">
        <!--<div class="dropdown">
            <a href="./views/login.html"><button class="btn">Iniciar Sesión</button></a>
        </div>-->
    </div>
</nav>
</body>
</html>
